*
{
	margin:0px;
	padding:0px;
}
.rotate
{
	width:100px;
	height:200px;
	margin-top:0px;
	margin-left:0px;
	overflow:hidden;
}
.image
{
	width:100px;
	height:200px;
	background-position:center;
	background-image:url(https://i.pinimg.com/originals/1c/f8/3e/1cf83e621756bd046ed94ca44157334f.jpg);
	background-size:cover;
	transition:.1s;
}
.image:hover
{
	transform:rotate(360deg) scale(1.5);
}